#logo {
    margin: 0 auto;
}

a {
    color: var(--link-blue);
}

.text-field, .btn, select {
    display: block;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--sky-grey);
    border: var(--light-grey) 2px solid;
    border-radius: 5px;
    transition: all;
    transition-timing-function: ease;
    transition-duration: 300ms;
}

.btn {
    margin: 10px 5%;
}

.text-field {
    box-sizing: border-box;
}

.text-field:focus {
    outline: none;
    border-color: var(--deep-grey);
}

.btn:hover {
    background-color: var(--deep-grey);
    border-color: var(--deep-grey);
    color: var(--sky-grey);
}

.success-message, .error-message {
    padding: 10px;
    width: 30%;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.success-message {
    background-color: palegreen;
    border-color: forestgreen;
}

.error-message {
    background-color: red;
    border-color: darkred;
}

.black {
    color: var(--deep-grey);
}

.grey {
    color: var(--grey);
}

.green {
    color: forestgreen;
}

.red {
    color: darkred;
}

.yellow {
    color: goldenrod;
}
