#logo {
    margin: 0 auto;
}

a {
    color: var(--link-blue);
}

.text-field, .btn {
    display: block;
    padding: 10px;
    margin: 10px 0;
    border: var(--light-grey) 2px solid;
    border-radius: 5px;
    transition: all;
    transition-timing-function: ease;
    transition-duration: 300ms;
}

.text-field {
    box-sizing: border-box;
}

.text-field:focus {
    outline: none;
    border-color: var(--deep-grey);
}

.btn:hover {
    background-color: var(--deep-grey);
    border-color: var(--deep-grey);
    color: var(--sky-grey);
}
