a {
    color: var(--brown);
}

.text-field {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: var(--dark-indigo) 2px solid;
    border-radius: 5px;
    box-sizing: border-box;
}

.text-field:focus {
    outline: none;
    border-color: var(--brown);
}

.btn {
    display: block;
    width: 150px;
    height: 25px;
    margin: 10px auto;
    border: var(--dark-indigo) 2px solid;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--brown);
    color: var(--skin);
}
