header {
    background-color: var(--sky-grey);
    min-height: 150px;
}

main {
    width: 40%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

h3 {
    margin: 10px auto;
}

form {
    display: flex;
    flex-direction: column;
}