body {
    height: 100%;
    width: 650px;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    color: var(--deep-grey);
    border-color: var(--deep-grey);
    -webkit-font-smoothing: antialiased;
}

header {
    text-align: center;
    border-bottom: 2px solid;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
}