body {
    color: var(--deep-grey);
    border-color: var(--deep-grey);
    -webkit-font-smoothing: antialiased;
}

#logo {
    display: block;
    padding: 10px;
    border-bottom: 2px solid black;
    position: absolute;
    top: 20px;
    left: 20px;
}