<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/components.css}" href="../static/css/components.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/home.css}" href="../static/css/home.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<form id="logout" action="/logout" method="post">
    <input name="_csrf" th:value="${_csrf}" hidden>
    <input class="btn" type="submit" value="выйти">
</form>
<img id="logo" th:src="@{/img/logo.png}" src="../static/img/logo.png" alt="app logo"/>
<main id="login">
    <h2 th:text="'Привет, ' + ${user.name}">Привет, $username!</h2>
    <section id="summary">
        <div class="summary">
            <span class="digit deep-grey" th:text="${taskCount}">156</span>
            <span>всего</span>
        </div>
        <div class="summary">
            <span class="digit grey" th:text="${#maps.containsKey(tasks, 'DONE')} ? ${tasks.get('DONE').size()} : 0">79</span>
            <span>завершенных</span>
        </div>
        <div class="summary">
            <span class="digit green" th:text="${#maps.containsKey(tasks, 'CREATED')} ? ${tasks.get('CREATED').size()} : 0">4</span>
            <span>новых</span>
        </div>
        <div class="summary">
            <span class="digit yellow" th:text="${requiresAttention}">9</span>
            <span>требуют внимания</span>
        </div>
        <div class="summary">
            <span class="digit red" th:text="${expired}">13</span>
            <span>просроченных</span>
        </div>
    </section>
    <section th:if="${user.role.name == 'ROLE_READ_ONLY'}" class="task-table">
        <table id="tasks">
            <tr>
                <td>Номер заявки</td>
                <td>Название</td>
                <td>Статус</td>
                <td>Создатель</td>
                <td>Дата завершения</td>
            </tr>
        </table>
    </section>
    <section id="tiles">
        <a class="tile" th:if="${user.role.name != 'ROLE_READ_ONLY'}" th:href="@{/profile/{id}(id = ${user.id})}">
            <div>Профиль</div>
        </a>
        <a class="tile" th:if="${user.role.name != 'ROLE_READ_ONLY'}" th:href="@{/tasks/{id}(id = ${user.id})}">
            <div>Заявки</div>
        </a>
        <a th:if="${user.role.name == 'ROLE_ADMIN'}" class="tile" th:href="@{admin/profiles}">
            <div>Пользователи</div>
        </a>
        <a th:if="${user.role.name == 'ROLE_ADMIN'}" class="tile" th:href="@{admin/departments}">
            <div>Подразделения</div>
        </a>
    </section>
</main>
</body>
</html>