<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/colors.css}" href="../static/css/colors.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/components.css}" href="../static/css/components.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/login.css}" href="../static/css/login.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<header id="header">
    <img id="logo" th:src="@{/img/logo.png}" src="../static/img/logo.png" alt="app logo"/>
</header>
<main id="login">
    <h3>Войти в систему</h3>
    <form action="/login" method="post">
        <label for="username" hidden>Username: </label>
        <input id="username" class="text-field" name="username" type="text" placeholder="user@mail.com">
        <label for="password" hidden>Username: </label>
        <input id="password" class="text-field" name="password" type="password" placeholder="password">
        <button class="btn" type="submit">Войти</button>
        <button class="btn" type="button" onclick="showRegister()">Зарегистрироваться</button>
    </form>
    <div id="modal-registration" hidden>
        <form action="/register" method="post">
            <input type="text" placeholder="Фамилия">
            <input type="text" placeholder="Имя">
        </form>
    </div>
</main>
</body>
</html>