<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/static/css/styles.css}" href="../static/css/styles.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/static/css/components.css}" href="../static/css/components.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/static/css/login.css}" href="../static/css/login.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<header id="header">
    <h1>ENGINEER 2.0</h1>
</header>
<main id="login">
    <h3>Войти в систему или <a href="/register">зарегистрироваться</a></h3>
    <form action="/login" method="post">
        <label for="username" hidden>Username: </label>
        <input id="username" class="text-field" type="text" placeholder="user@mail.com">
        <label for="password" hidden>Username: </label>
        <input id="password" class="text-field" type="password" placeholder="password">
        <button class="btn" type="submit">Войти</button>
    </form>
</main>
<div id="modal">

</div>
</body>
</html>