<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/colors.css}" href="../static/css/colors.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/components.css}" href="../static/css/components.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/login.css}" href="../static/css/login.css" type="text/css" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.6.0.js}" src="../static/js/jquery-3.6.0.js" rel="script"
            type="text/javascript"></script>
    <script th:src="@{/js/functions.js}" src="../static/js/functions.js" rel="script" type="text/javascript"></script>
</head>
<body>
<img id="logo" th:src="@{/img/logo.png}" src="../static/img/logo.png" alt="app logo"/>
<header>

</header>
<main id="login">
    <div id="login-block">
        <h3>Войти в систему</h3>
        <form action="/login" method="post">
            <label for="username" hidden></label>
            <input id="username" class="text-field" name="username" type="text" placeholder="user@mail.com">
            <label for="password" hidden></label>
            <input id="password" class="text-field" name="password" type="password" placeholder="password">
            <button class="btn" type="submit">Войти</button>
            <button class="btn" type="button" onclick="showRegister()">Зарегистрироваться</button>
        </form>
    </div>
    <div id="registration-block" hidden>
        <h3>Регистрация</h3>
        <form action="/register" method="post">
            <label for="reg-lastname" hidden></label>
            <input id="reg-lastname" class="text-field" type="text" name="firstName" placeholder="Иванов" required>
            <label for="reg-firstname" hidden></label>
            <input id="reg-firstname" class="text-field" type="text" name="lastName" placeholder="Иван" required>
            <label for="reg-email" hidden></label>
            <input id="reg-email" class="text-field" type="email" name="email" placeholder="iivanov@mail.com" required>
            <label for="reg-department" hidden></label>
            <select id="reg-department" class="text-field" name="departmentId" required>
                <option th:each="dep : ${departments}"
                        th:value="${dep.id}"
                        th:label="${dep.name}">Конструкторский центр</option>
            </select>
            <button class="btn" type="submit">Зарегистрироваться</button>
            <button class="btn" type="reset">Сбросить поля</button>
        </form>
    </div>
</main>
</body>
</html>